@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: monospace;
}

/* 终端打字文字样式 */
.typed-text {
  display: inline;
  white-space: pre;
}

/* 自定义光标 */
.custom-cursor {
  display: inline-block;
  width: 8px;
  height: 1em;
  background-color: currentColor;
  margin-left: 2px;
  animation: blink 1s steps(1) infinite;
  vertical-align: middle;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
